html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
 
}

.main {
  background-color: #f8f8f8;
  width: 624px;
  border-radius: 16px;
  padding: 16px;
  margin: 32px;
  
}

.person {
    display: flex;
    align-items: flex-start;

}

.person__avatar {
    margin-right: 32px;
    
}

.person__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.person__position {
  margin: 0;
  font-size: 18px;
  color: #545454;
  font-style: italic;
}

.person__text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.person__text--margin {
  margin-bottom: 22px;
}

.person__link {
  margin: 0;
}

.person__info {
  margin-bottom: 24px;
}
.special {
  color: #ed6d05;
  font-weight: normal;
}

a {
  color: #e20613;
  text-decoration: none;
}
